#app {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr; ou */
    grid-template-columns: repeat(2, 1fr);

    grid-template-rows: 1fr 2fr;

    height: 100vh;
}

#app > div {
    border: 1px solid red;
}

span {
    border: 1px solid blue;
}